body {
    text-align: center;
    margin: 0;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: #333;
  }

  ul {
    list-style-type: none;
    padding: 10px;
    margin: 20px auto;
    width: fit-content;
    border: 1px solid #000;
    background-color: #f0f0f0;
  }

  li {
    font-weight: bold;
    color: green;
    margin: 5px 0;
  }